﻿@model ElevenNote.Models.ViewModels.NoteEditViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Contents, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.Contents, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    CKEDITOR.replace("Contents");
</script>
