﻿@model IEnumerable<ElevenNote.Models.ViewModels.NoteListViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (ViewBag.ErrorMessage != null)
{
    <p style="color: red"><strong>Error:</strong> @ViewBag.ErrorMessage</p>
}

@if (Model == null || Model.Count() == 0)
{
    <p>You don't have any notes. Why don't you add one?</p>
}
else
{
    <table class="table">
        <tr>
            <th>Is favorite?</th>
            <th>
                <a href="/Notes?sort=name">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a href="/Notes?sort=created">@Html.DisplayNameFor(model => model.DateCreated)</a>
            </th>
            <th>
                <a href="/Notes?sort=modified">@Html.DisplayNameFor(model => model.DateModified)</a>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!item.IsFavorite)
                    {
                        <a href="/Notes/Toggle/@item.Id"><span class="glyphicon glyphicon-star-empty" style="color: #aaa; font-size:18pt;"></span></a>
                    }
                    else
                    {
                        <a href="/Notes/Toggle/@item.Id">
                            <span class="glyphicon glyphicon-star" style="color: #090; font-size:18pt;"></span>
                        </a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    <a href="javascript:deletePost(@item.Id)">Delete</a>
                </td>
            </tr>
        }

    </table>
    
<script>
    function deletePost(id)
    {
        if (id > 0)
        {
            if (confirm("Are you sure you want to delete this note?"))
            {
                // Call the web service if they've confirmed.
                $.post("/Notes/DeleteNoteService", { id : id }, deletePost_Complete);
            }
        }
    }

    function deletePost_Complete(result) {
        if (result === true)
        {
            alert("The note was deleted.");
            document.location = document.location;
        }
        else
        {
            alert("Could not delete the note. Bummer!");
        }
    }
    </script>
}